yt-dlp[default]>=2024.10.22
ffmpeg-python>=0.2.0
edge-tts>=6.1.11
faster-whisper>=1.0.3
google-api-python-client>=2.139.0
google-auth>=2.32.0
google-auth-oauthlib>=1.2.0
pydantic-settings>=2.3.4
python-dotenv>=1.0.1
loguru>=0.7.2
aiofiles>=24.1.0
pydub>=0.25.1